<!-- src/main/resources/templates/fragments/navbar.html -->
<nav xmlns:th="http://www.thymeleaf.org"
     th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Cinema Room</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/seats}">View Seats</a>
            </li>
            <!-- Add Return Ticket Link -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/return}">Return Ticket</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Admin Login</a>
            </li>
        </ul>
    </div>
</nav>
