<!-- src/main/resources/templates/welcome.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Cinema Room</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Include the navbar fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-4">
    <h1>Welcome to the Cinema Room Application!</h1>
    <p>This application allows you to view and purchase seats for movies in our cinema.</p>
    <p><strong>Features include:</strong></p>
    <ul>
        <li><strong>View available seats</strong>
            <ul>
                <li><strong><span style="color: green;">Green buttons</span></strong> &rarr; available seat</li>
                <li><strong><span style="color: red;">Red buttons</span></strong> &rarr; seat taken</li>
            </ul>
        </li>
        <li><strong>Purchase tickets</strong>
            <ul>
                <li>To buy a seat, click on the <strong>green</strong> free seat of your choice</li>
            </ul>
        </li>
        <li><strong>Return tickets</strong>
            <ul>
                <li>Enter the Ticket ID in the provided format: <code>row_column</code> (e.g., <code>1_1</code> for row <code>1</code>
                        and column <code>1</code>)</li>
            </ul>
        </li>
        <li><strong>Admin statistics (login required)</strong>
            <ul>
                <li>Enter <strong><code>admin</code></strong> as username and password to log in to the statistics page</li>
            </ul>
        </li>
    </ul>
    <p>Use the navigation bar above to get started.</p>
</div>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>
